@using OneRosterSync.Net.Utils;
@model IEnumerable<OneRosterSync.Net.Models.DataSyncHistoryDetail>
@{
    ViewData["Title"] = "HistoryDetailsList";
}

<h2>@ViewData["DistrictName"]: Data Sync Changes</h2>

@await Html.PartialAsync("DataSyncLineHistoryDetailsList", Model)
