@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to OneRoster.Net!</h1>

<p>The ultimate solution for processing School District OneRoster CSV exported files and integrating into your LMS!</p>

<div class="row">
    <div class="col-md-4">
        <h2>Technology</h2>
        <ul>
            <li>ASP.NET Core MVC</li>
            <li>Code first SQL database</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Purpose</h2>
        The project is best described on the main GitHub page <a href="https://github.com/rjeike/OneRoster.Net">here</a>.
    </div>
    <div class="col-md-4">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
